// Selectores Universales


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}






// Selectores generales


img {
  width: 100%;
  height: auto;
}

body {
  font-family: $sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $dark;
  background-color: $light;
}

a {
  text-decoration: none;
  color: $dark;
}






// Estilos header


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light;
  position: sticky;
  top: 0;
  background-color: $dark;
  z-index: 3;
  height: 7vh;
}

.nav {
  @media (max-width: $mq-tablet) {
    display: none;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-nav__item {
  list-style-type: none;
  padding: 1rem;
}

.header-nav__link {
  font-weight: bold;
  color: $light;
  text-decoration: underline solid $light 2px;
  text-underline-offset: 2px;
  font-size: 1.3rem;
  line-height: 1.1;
}

.header-nav__link:hover {
  color: $overlay-light;
  text-decoration: underline solid $overlay-light 2px;
  transition: 0.2s;
}

.header__logo {
  padding: 1rem;
  height: 55px;
}

.dropbtn {
  background-color: $dark;
  color: $light;
  border: none;
  font-size: 2rem;
}

.dropdown {
  display: none;
  position: relative;
  float: right;
  padding-right: 1rem;

  @media (max-width: $mq-tablet) {
    display: inline-block;
  }
}

.dropbtn:hover, .dropbtn:focus {
  color: $overlay-light;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
}

.dropdown-content__link {
  color: $dark;
  font-size: 2rem;
  text-align: right;
  padding: 1rem 2rem;
  text-decoration: underline solid $dark 2px;
  font-weight: bold;
  display: block;
  background-color: $light;
}

.dropdown-content__link:hover {
  color: $light;
  text-decoration: underline solid $light 2px;
  background-color: $dark;
}

.show { display:block; }






// Estilos portada


.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cover__background {
  background-image: linear-gradient(to top, $dark, rgb(0 0 0 / 30%)), url("/src/assets/images/home-background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.cover__title {
  padding: 2rem;
  z-index: 2;

  @media (max-width: $mq-tablet) {
    display: none;
  }
}

.cover__title--responsive {
  padding: 2rem;
  display: none;
  z-index: 2;

  @media (max-width: $mq-tablet) {
    display: block;
  }
}

.cover-nav-cont {
  z-index: 1;
}

.cover-nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  @media (max-width: $mq-tablet) {
    flex-direction: column;
    gap: 2rem;
  }
}

.cover-nav__item {
  list-style-type: none;
}

.cover-nav__link {
  font-weight: bold;
  color: $light;
  text-decoration: underline solid $light 5px;
  text-underline-offset: 5px;
  font-size: 3.5rem;
  line-height: 1.1;

  @media (max-width: $mq-laptop) {
    font-size: 2.5rem;
    text-decoration: underline solid $light 4px;
    text-underline-offset: 4px;
  }
}

.cover-nav__link:hover {
  color: $overlay-light;
  text-decoration: underline solid $overlay-light 5px;
  transition: 0.2s;
}

.image-clipped-1 {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(66% 12%, 68% 8%, 74% 8%, 79% 18%, 80% 23%, 82% 25%, 82% 32%, 85% 33%, 90% 36%, 95% 40%, 97% 53%, 96% 60%, 91% 64%, 91% 69%, 91% 75%, 91% 82%, 94% 92%, 93% 98%, 8% 99%, 7% 95%, 4% 91%, 4% 85%, 6% 82%, 6% 76%, 7% 69%, 9% 62%, 9% 56%, 12% 50%, 16% 43%, 19% 39%, 25% 35%, 24% 31%, 25% 26%, 25% 19%, 27% 12%, 32% 9%, 38% 10%, 41% 20%, 39% 36%, 42% 31%, 44% 28%, 43% 23%, 42% 19%, 43% 16%, 42% 12%, 42% 5%, 45% 3%, 47% 0%, 51% 0%, 53% 0%, 56% 4%, 57% 9%, 57% 15%, 57% 17%, 57% 22%, 56% 27%, 58% 29%, 61% 30%, 63% 32%, 62% 26%, 63% 22%, 64% 15%);

  @media (max-width: $mq-laptop) {
    clip-path: polygon(67% 41%, 75% 42%, 82% 46%, 82% 50%, 82% 52%, 80% 56%, 87% 58%, 91% 61%, 99% 65%, 100% 79%, 98% 97%, 98% 100%, 2% 99%, 0% 82%, 1% 79%, 0 72%, 1% 64%, 19% 59%, 16% 56%, 15% 50%, 16% 43%, 21% 41%, 27% 40%, 35% 42%, 41% 48%, 42% 55%, 39% 58%, 45% 61%, 51% 62%, 57% 59%, 54% 53%, 54% 47%, 60% 42%);
    top: 30%;

    @media (max-width: $mq-phone) {
      top: 50%;
    }
  }
}






// Estilos Footer


.footer {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $light;
  background-color: $dark;
  align-items: flex-end;
  padding: 1rem;
  height: 13vh;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
}

.footer-links__item {
  list-style-type: none;
}

.footer-links__link {
  font-weight: bold;
  color: $light;
  text-decoration: underline solid $light 1px;
  font-size: 0.8rem;
  line-height: 1.1;
}

.footer-links__link-social {
  color: $light;
  font-size: 1.5rem;
  line-height: 1;
}

.footer__logo {
  height: 50px;
  width: auto;
}