// Estilos Enlaces


.links {
  height: 80vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 850px) {
    height: auto;
  }
}

.links__content {
  flex-grow: 1;  
  display: grid; 
  grid-template-columns: 1fr 1fr;

  @media (max-width: $mq-tablet) {
    grid-template-columns: 1fr;
  }
}

.list {
  padding: 1rem;
  list-style-type: none;
  overflow-y: scroll;
}

.list__item {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.list__link {
  text-decoration: underline solid $dark 2px;
}

.list__link:hover {
  color: $overlay-dark;
  text-decoration: underline solid $overlay-dark 2px;
  transition: 0.2s;
}