<footer>
  <div>
    <img src="./assets/images/logotipo-vertical-blanco.png" alt="Logotipo de Imagine Dragons">
  </div>
  <div>
    <div>
      <ul>
        <li><a href="">Cookies</a></li>
        <li><a href="">Privacidad</a></li>
        <li><a href="">Condiciones</a></li>
      </ul>
    </div>
    <div>
      <a href="https://www.instagram.com/imaginedragons/"></a>
      <a href="https://twitter.com/imaginedragons"></a>
      <a href="https://www.youtube.com/channel/UCT9zcQNlyht7fRlcjmflRSA"></a>
      <a href="https://open.spotify.com/intl-es/artist/53XhwfbYqKCa1cC15pYq2q"></a>
      <a href="https://www.facebook.com/ImagineDragons/"></a>
    </div>
  </div>
</footer>