<footer class="footer">
  <div>
    <img class="footer__logo" src="./assets/images/logo-blanco-vertical.svg" alt="Logotipo de Imagine Dragons">
  </div>
  <div class="footer-info">
    <ul class="footer-links">
      <li class="footer-links__item"><a class="footer-links__link" href="">Cookies</a></li>
      <li class="footer-links__item"><a class="footer-links__link" href="">Privacidad</a></li>
      <li class="footer-links__item"><a class="footer-links__link" href="">Condiciones</a></li>
    </ul>
    <ul class="footer-links">
      <li class="footer-links__item"><a class="footer-links__link-social" href="https://www.instagram.com/imaginedragons/"><i class="ri-instagram-fill"></i></a></li>
      <li class="footer-links__item"><a class="footer-links__link-social" href="https://twitter.com/imaginedragons"><i class="ri-twitter-fill"></i></a></li>
      <li class="footer-links__item"><a class="footer-links__link-social" href="https://www.youtube.com/channel/UCT9zcQNlyht7fRlcjmflRSA"><i class="ri-youtube-fill"></i></a></li>
      <li class="footer-links__item"><a class="footer-links__link-social" href="https://open.spotify.com/intl-es/artist/53XhwfbYqKCa1cC15pYq2q"><i class="ri-spotify-fill"></i></a></li>
      <li class="footer-links__item"><a class="footer-links__link-social" href="https://www.facebook.com/ImagineDragons/"><i class="ri-facebook-circle-fill"></i></a></li>
    </ul>
  </div>
</footer>